<html>
<body>
<div class="container">
<h1> New / Update article</h1>

<form method="POST"> 
  {% csrf_token %}
      <label>Title</label> {{ form.title}} </br>
      <label>Content</label>  {{ form.content}} </br>
      <input type="hidden" id="user" name="user" value="{{user.id}}">
  <button class="btn btn-default" type="submit">Save</button>
  <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
</form>

  {% if article %}
      <!-- <a class="btn btn-danger" href="{#%url 'delete_article' article.id %}">Delete</a>  -->
  {%endif%}
  </div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</body>
</html>
