<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HUFS IME Question</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
{% load socialaccount %}
{% if user.is_authenticated %}
<p>User : {{ user.username }} <a href="{% url 'logout' %}">Log out</a></p>
<h1><center>Member List</center></h1>
<a class="btn btn-info pull-right" href = "{% url 'recommend' user.id %}">추천게시글</a>
<a class="btn btn-default pull-right" href = "{% url 'home' %}">전체게시글</a>
  {% if not articles %}
    <br><h2 style="text-align : center">더 많은 질문을 입력할수록 추천 정확도가 높아집니다.</h2>
  {% else %}
    <div class="container">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Title </th>
        <th>Content</th>
        <th>writer</th>
        <th>liked</th>
        <th>viewed</th>
      </tr>
      <tr>
      {% for article in articles%}
        <td> {{ article.id }} </td>
        <td> <a href ="{%url 'show_article' article.id %}" >{{ article.title }}</a></td>
        <td> {{ article.content }}</td>
        <td> {{ article.user }}</td>
        <td> {{ article.like_count }}</td>
        <td> {{ article.hits }}</td>
      </tr>
      {% endfor %}  
    </table>
    </div>
  {% endif %}
  <a class="btn btn-info pull-right" href = "{%url 'add_article' %}"> New Question </a>

{% else %}
  <p><a href="{% url 'signup' %}">Sign Up</a></p>
  <p><a href="{% url 'login' %}">Log In </a></p>
  <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
{% endif %}
</body>
</html>