<html>
   <head>
      <title>Hufs IME question</title>
      <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
      </script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart']});     
      </script>
   </head>
   
   <body>
        {{user.username}}</br>
        {{user.email}}</br>
      <div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
      </div>
      <script language = "JavaScript">
         function drawChart(response) {
            // Define the chart to be drawn.
            var tags_info = "{{tags|safe}}";
            var tags_arr = JSON.parse(tags_info.replace(/\'/g,"\""))
            alert(tags_info);
            alert(typeof(tags_info));
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Browser');
            data.addColumn('number', 'Percentage');
            data.addRows(tags_arr);
            
            // Set chart options
            var options = {
               'title':'Related Tags with your activity',
               'width':550,
               'height':400,
               is3D:false
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('container'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>
    {%for i in user.article_set.values%}
        {{i.content}}</br>
    {%endfor%}
    ==========================================</br>
    {%for i in user.comment_set.values%}
        {{i.comment_text}}</br>
    {%endfor%}
    ==========================================</br>
    {%for i in user.answer_set.values%}
        {{i.answer_text}}
    {%endfor%}
   </body>
</html>


