
{% if not articles %}
    <br><h2 style="text-align : center">더 많은 질문을 입력할수록 추천 정확도가 높아집니다.</h2>
  {% else %}
    <div class="container">
    <table class="table table-striped">
      <tr>
      {% for article in articles%}
        <td class="col-md-1"> {{ article.id }} </td>
        <td class="col-md-5"> <a href ="{%url 'show_article' article.id %}" >{{ article.title }} ({{article.comment_set.count}})
          {%if today == article.created_at|date:"m/d/y"%}
            **new**
          {%endif%}
        </a></td>
        <td class="col-md-1" style = "text-align: center">{{article.comment_set.count}}</td>
        {% if article.anonymity %}
        <td class="col-md-2" style = "text-align: center"> 익명 </td>
        {% else %}
        <td class="col-md-2" style = "text-align: center"> {{ article.user }} </td>
        {% endif %}
        {%if today == article.created_at|date:"m/d/y"%}
        <td class="col-md-1" style = "text-align: center">{{article.created_at|date:"h:m"}}</td>
        {%else%}
        <td class="col-md-1" style = "text-align: center">{{article.created_at|date:"y/m/d"}}</td>
        {%endif%}
        <td class="col-md-1" style = "text-align: center"> {{ article.like_count }}</td>
        <td class="col-md-1" style = "text-align: center"> {{ article.hits }}</td>
      </tr>
      {% endfor %}
    </table>
    </div>

{% endif %}

