<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<h2>{{article.title}}</h2>
<hr>
<p>{{article.content}}</p>
<hr>
{% for tag in article.tags.all %}
    <a href = "{% url 'tagged' tag.id %}">#{{tag.slug}}</a>
{% endfor%}<br>
{% if article.user.id == user.id %}
    <a class="btn btn-info" href ="{%url 'update_article' article.id %}" >Update  </a>
    <a class="btn btn-danger" href="{%url 'delete_article' article.id %}">Delete</a>
{% endif %}
<a class="btn btn-warning pull-right" href = {% url 'home' %}>Home</a> <br/> 
<hr/>
<form method="POST"> 
    {% csrf_token %}
        <label>comment</label>  {{ commentform.comment_text}} 
        <input type="hidden" id="user" name="user" value="{{user.id}}">
        <input type="hidden" id="article" name="article" value="{{article.id}}">
    <button class="btn btn-default" type="submit">Save</button>
</form>
<hr/>
{% for comment in comments %}
    {{comment.user}} : {{comment.comment_text}}
    {% if comment.user.id == user.id %}
        <a class="btn btn-danger" href="{%url 'delete_comment' comment.id %}">delete</a>
    {% endif%}
    <br/>
    <hr/>
{% endfor %}
<h3>Answer</h3><hr>
{% for answer in answers %}
    {{answer.answer_text}}
    <a class="btn btn-danger" href="{%url 'delete_answer' answer.id %}">delete</a><br/>
{% endfor %}
<form method="POST"> 
    {% csrf_token %}
        <label>Answer</label>  {{ answerform.answer_text}} 
        <input type="hidden" id="user" name="user" value="{{user.id}}">
        <input type="hidden" id="article" name="article" value="{{article.id}}">
    <button class="btn btn-default" type="submit">Save</button>
</form>

